.colors {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    background-color: #FFFFFF;
    margin-bottom: 40px;
}

.colors > h2 {
    font-size: 18px;
    color: #1E1E1E;
}

.colors__container {
    width: 100%;
    background: #EBEBED;
    border-radius: 24px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
}

.color-icon {
    width: 40px;
    height: 40px;
    background: #F1CCEB;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.color-icon:hover {
    border: 6px solid #FFFFFF;
}

.chosen {
    border: 6px solid #FFFFFF;
    border-radius: 9px;
}

/*///////////////////////////////////////////// - MEDIA - //////////////////////////////////////////////*/

@media (max-width: 1350px) {

    .color-icon {
        width: 37px;
        height: 37px;
    }

}

@media (max-width: 991px) {

    .color-icon {
        width: 44px;
        height: 44px;
    }

}

@media (max-width: 767px) {

    .color-icon {
        width: 35px;
        height: 35px;
        font-size: 11px;
    }

}

@media (max-width: 480px) {

    .colors__container {
        padding: 30px;
        column-gap: 30px;
    }

    .color-icon {
        width: 37px;
        height: 37px;
        font-size: 11px;
    }

}

@media (max-width: 408px) {

    .colors__container {
        padding: 20px;
    }

    .color-icon {
        width: 35px;
        height: 35px;
    }

}

@media (max-width: 378px) {

    .colors__container {
        padding: 15px;
        justify-content: space-between;
        column-gap: 18px;
    }

}

